/* ====== Google font ===== */
 @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-display: "Urbanist", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #8DFF69;
}

@layer base {
  html {
    font-family: var(--font-display);
    scroll-behavior: smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
  } 

  /* ===== custom scrollbar ======= */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #0a0a0a0a;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #bdff69, #030303);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #abff80, #58c92e);
  }

  /* ===== FireFox scrollbar ======= */
  * {
    scrollbar-width: thin;
    scrollbar-color: #6FE047 #0a0a0a;
  }

  /* ===== Hide scrollbar  for carousel ======= */
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* animation keyFremes */
  @keyframes fedeIn {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
   @keyframes pulse {
    0%,100%{
      opacity: 0.3;
    }
    50%{
      opacity: 0.5;
    }
  }

  /* ======= Utility Classes =========  */
.animate-fedeIn{
  animation: fedeIn 0.5s ease-out;
}

.animate-pulse{
  animation: pulse 3s ease-in-out infinite;
}

.animate-spin-slow{
  animation:spin 8s linear infinite;
}
@keyframes spin {
  from{
transform: rotate(0deg);
  }
  to{
transform: rotate(360deg);

  }
}
/* ======== line clamp -2*/
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* ======== line clamp -3*/
.line-clamp-3{
  display: -webkit-box;
   -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

} 
@keyframes wave {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-wave {
  animation: wave 1.6s ease-out infinite;
}

.delay-1 {
  animation-delay: 0.4s;
}

.delay-2 {
  animation-delay: 0.8s;
}
